<%= link_to("<<Back to List", {:action=>'list', :user_id => @user_id}, :class=>'back-link') %>
<div class="">
  <h2>Edit secret</h2>
  <%= form_for(:secret, :url=>{:action=>"update", :id=>@secret.id, :user_id=>@user_id}) do |f| %>
      <%= render(:partial => 'form', :locals => {:f=>f}) %>
      <div class="form-buttons"><%= submit_tag("Update Secret") %></div>
  <% end %>
</div>