<%= link_to("<<Back to List", {:action=>'list'}, :class=>'back-link') %>
<div class="">
  <h2>Create New Secret</h2>
  <%= form_for(:secret, :url=>{:action=>"create", :user_id=> @user_id }) do |f| %>
     <%= render(:partial => 'form', :locals => {:f=>f}) %>
      <div class="form-buttons"><%= submit_tag("Create Secret") %></div>
  <% end %>

</div>