<%= link_to("<<Home", {:action=>'index'}, :class=>'back-link') %>
<div class="">
<h2>Sign Up</h2>
<%= form_for(:user, :url=>{:action=>"create"}) do |f| %>
      <%= render(:partial=>'form', locals:{:f=>f}) %>
    <div class="form-buttons"><%= submit_tag("Create User") %></div>
<% end %>

</div>